<div class="homeimg">
        <img src="/images/home/img01.jpg" alt="avion">
      </div>
      <div class="columnas">
        <div class="bienvenidos">
          <h2>Bienvenidos</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Reprehenderit vitae voluptatum quas nemo error libero illum non, et
            doloribus quia sit ut deleniti odio sequi iste delectus illo
            eligendi itaque?
          </p>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Consectetur ratione, dignissimos amet quis, sunt odit explicabo
            nulla dolorem aut sed voluptatem aspernatur, id asperiores delectus
            nostrum dolorum animi. Rem, dolor?
          </p>
        </div>
        <div class="testimonios">
          <h2>Testimonios</h2>
          <div class="testimonio">
            <span class="cita"> Simplement Excelente</span>
            <span class="autor"> Juan Perez - zapatos.com</span>
          </div>
        </div>
      </div>

