<div class="historia">
        <h2>Historia</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem est
          rerum, voluptas porro saepe adipisci eveniet quo? Officia ex
          temporibus suscipit, fuga eveniet atque expedita? Nesciunt quaerat
          ratione facere alias.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
          libero ut perspiciatis suscipit repudiandae ipsa numquam reprehenderit
          aliquid impedit exercitationem veniam id deserunt adipisci optio amet
          deleniti? Id, voluptates aperiam.
        </p>
      </div>
      <div class="staff">
        <h2>Staf</h2>
        <div class="personas">
          <div class="persona">
            <img src="images/nosotros/nosotros1.jpg" alt="Juan Gomez" />
            <h5>Juan Gomez</h5>
            <h6>gerente General</h6>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni
              dicta voluptatem magnam et esse consequatur voluptate, quas
              reprehenderit laudantium architecto, reiciendis nihil. Debitis
              necessitatibus quod eius ad ullam expedita harum.
            </p>
          </div>
          <div class="persona">
            <img src="images/nosotros/nosotros2.jpg" alt="Diana Reyes" />
            <h5>Diana Reyes</h5>
            <h6>gerente Comercial</h6>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni
              dicta voluptatem magnam et esse consequatur voluptate, quas
              reprehenderit laudantium architecto, reiciendis nihil. Debitis
              necessitatibus quod eius ad ullam expedita harum.
            </p>
          </div>
          <div class="persona">
            <img src="images/nosotros/nosotros3.jpg" alt="Roberto Zaptos" />
            <h5>Roberto Zaptos</h5>
            <h6>gerente de sistemas</h6>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni
              dicta voluptatem magnam et esse consequatur voluptate, quas
              reprehenderit laudantium architecto, reiciendis nihil. Debitis
              necessitatibus quod eius ad ullam expedita harum.
            </p>
          </div>
          <div class="persona">
            <img src="images/nosotros/nosotros4.jpg" alt="Sandra Mastropiero" />
            <h5>Sandra Mastropiero</h5>
            <h6>gerente de Marketing</h6>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni
              dicta voluptatem magnam et esse consequatur voluptate, quas
              reprehenderit laudantium architecto, reiciendis nihil. Debitis
              necessitatibus quod eius ad ullam expedita harum.
            </p>
          </div>
          <div class="persona">
            <img src="images/nosotros/nosotros5.jpg" alt="Luciano Figuero" />
            <h5>Luciano Figuero</h5>
            <h6>gerente de Logistica</h6>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni
              dicta voluptatem magnam et esse consequatur voluptate, quas
              reprehenderit laudantium architecto, reiciendis nihil. Debitis
              necessitatibus quod eius ad ullam expedita harum.
            </p>
          </div>
        </div>
      </div>
