 <h2>Novedades</h2>
      <div class="novedades">
        <h3>Titulo</h3>
        <h4>Subtitulo</h4>
        <p>Descipcion- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam blanditiis, tempore reiciendis inventore officiis nam beatae minus, et ex illum, nostrum doloribus eaque quidem alias! Possimus perferendis quibusdam tempora corrupti!</p>
        <hr>
        <h3>Titulo</h3>
        <h4>Subtitulo</h4>
        <p>Descipcion- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam blanditiis, tempore reiciendis inventore officiis nam beatae minus, et ex illum, nostrum doloribus eaque quidem alias! Possimus perferendis quibusdam tempora corrupti!</p>
        <hr>
        <h3>Titulo</h3>
        <h4>Subtitulo</h4>
        <p>Descipcion- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam blanditiis, tempore reiciendis inventore officiis nam beatae minus, et ex illum, nostrum doloribus eaque quidem alias! Possimus perferendis quibusdam tempora corrupti!</p>
        <hr>
        <h3>Titulo</h3>
        <h4>Subtitulo</h4>
        <p>Descipcion- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam blanditiis, tempore reiciendis inventore officiis nam beatae minus, et ex illum, nostrum doloribus eaque quidem alias! Possimus perferendis quibusdam tempora corrupti!</p>
        <hr>
      </div>

